
body,html{
	background: #f70;
	color:white;
	font-size:16px;
	margin:0;
	padding:0;
}
h1{
	
}

h1 small{
	color:#eee;
}

.container{
	width:90%;
}
.botones>ul{
	list-style:none;
}
.botones > ul > li{
	display:inline-block;
}

table {
	width:100%;
}

.analfabeto{
	display:none;
}

.estado_afiliacion{
	display:none;
}

.distrito{
	display:none;
}
.partido_politico{
	display:none;
}
#mostrar_entre a{
	-webkit-border-radius: 4px 0 0px 4px;
	-moz-border-radius: 4px 0 0px 4px;
	border-radius: 4px 0 0px 4px;

}


.table th, .table td{
	border-color: rgba(221,221,221,0.19);
}

.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th{
	background-color: rgba(249,249,249,0.19);
}

header {
	background: rgb(67, 112, 168);
	margin: 0;
	margin-top: -0.8em;
	padding: .5em 0;
	text-align: center;
}

footer {
	margin: 0 auto;
	margin-bottom: 1em;
	max-width: 800px;
	text-align: center;
	width: 100%;
}

#borrar_filtro{
	display:none;
}


/* Comienza el Responsive Design */

@media screen and (max-width:1200px){
	.tipo_documento{
		display:none;
	}
	.nro_registro{
		display:none;
	}
}

@media screen and (max-width:1100px){
	.pisodepto{
		display:none;
	}

	.profesion{
		display:none;
	}
}


@media screen and (max-width:910px){
	.botones ul > li{
		margin:0.2em;
	}
	.clase{
		display:none;
	}
	.sexo{
		display:none;
	}
	.seccion{
		display:none;
	}
}
@media screen and (max-width:700px){
	.matricula{
		display:none;
	}
	.circuito{
		display:none;
	}
}

@media screen and (max-width:520px){
	.nro{
		display:none;
	}
	.domicilio{
		display:none;
	}
	.id{
		display:none;
	}

@media screen and (max-width:340px){

	.fecha_afiliacion{
		display:none;
	}
}